.signup-header {
	background-color: #29AB9E;
	text-align: center;
	color: white;
	padding: 10px;
	font-family: cursive;
	border-radius: 10px;
}

.signup-form {
	background-color: #F9F1DC;
	border-radius: 10px;
	padding: 5px;
}

.login-form {
	float: right;
	display: flex;
}

.Modal {
	background-color: #ADD8E6;
	padding: 10px;
	margin: auto;
	margin-top: 10%;
	width: 300px;
	height: 350px;
}

li:active {
	background-color: #b3d9ff;
}

.delegate_list {
	height: 200px;
	overflow-y: auto;
}

.Loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: auto;
    display: block;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}